* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.nav-link {
  color: white;
  padding: 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.hero {
  position: relative;
  background-image: url("assets/header_visual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
}

.button {
  border: 0;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
}

.button-primary {
  background-color: #f0795e;
}

.button-secondary {
  background-color: transparent;
  border: 2px solid #fff;
}

.hero-cta button + button {
  margin-left: 20px;
}

.introduction .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.introduction img {
  max-height: 400px;
}

.features {
  background: #f9f6ef;
}

.features-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-wrapper .feature:nth-child(2) {
  padding: 0 20px;
}
