* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hero {
  background-image: url("assets/header_visual.jpg");
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: white;
  padding: 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}
