* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.nav-link {
  color: white;
  padding: 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.hero {
  position: relative;
  background-image: url("assets/header_visual.jpg");
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
}

.button {
  border: 0;
  cursor: pointer;
}